<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 rtl class="main-heading">{{ 'thng.shop.title' | translate }}</h1>
    </div>
  </div>
  <div class="row align-items-end">
    <div *ngFor="let feature of features" class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
      <mat-card>
        <mat-card-title>
          <code *ngIf="feature.version">{{feature.version}}</code>{{feature.name | translate}}
        </mat-card-title>
        <mat-card-subtitle rtl>
          {{ feature.description | translate }}
        </mat-card-subtitle>
        <img mat-card-image [src]="feature.imageSrc" [alt]=feature.description>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onViewProductDetail(feature)">View</button>          
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
