@import '../../../../../styles-variables.scss';

.wrapper {
  margin-top: 1em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 1em;
  max-width: 576px;

  .login-form {
    border: 1px #d9d9d9 solid;
    border-radius: 10px;
    width: 100%;
    padding: 1.5em;
    .action-buttons {
      display: flex;
      justify-content: space-evenly;
    }
    .form-controls {
      .mat-form-field {
        display: block;
        width: 100%;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, sm)) {
  .wrapper {
    margin: 0 auto;
  }
}
