<div class="wrapper">
  <div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-controls">
        <mat-form-field appearance="standard">
          <mat-label>E-mail</mat-label>
          <input formControlName="email" matInput>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error></mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput type="password">          
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>          
          <mat-error></mat-error>
        </mat-form-field>

        <div class="action-buttons">
          <button color="primary" mat-raised-button [disabled]="!loginForm.valid">Login</button>
          <button [routerLink]="['../sign-up']" mat-raised-button type="button">Switch to Sign up</button>
        </div>
      </div>
    </form>
  </div>
</div>