<div class="background">
  <div class="gradient">
    <div class="container got-nuts">
      
      <h1>{{ 'thng.subtitle' | translate }}</h1>
        <div class="actions">
          <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../feature-list">
            {{ 'thng.shop.nuts' | translate }}
          </a>                
        
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">       
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="follow-releases" [ngClass]="routeAnimationsElements">
    <div class="feature-row">
         <div class="feature-row-item">
           <!-- Healthy Nut Guys Image -->
           <div>
             <img class="feature-row-image-crop" src="../../../../assets/healthy_nut_guys_logo_w_title.png">
           </div>
         </div>
         <div class="feature-row-item">
         </div>
       </div>
  </div>
</div>

