<div class="background">
  <div class="gradient">
    <div class="container got-nuts">
      
      <h1>{{ 'thng.subtitle' | translate }}</h1>
        <div class="actions">
          <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" color="primary" routerLink="../products">
            {{ 'thng.shop.nuts' | translate }}
          </a>                
        
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">       
      </div>
    </div>
  </div>
</div>
<div class="">
  
    <div class="feature-row" [ngClass]="routeAnimationsElements">
         <div class="feature-row-item">
           <!-- Healthy Nut Guys Image -->
           <div class="feature-row-image">
             <img class="feature-row-image-crop" src="../../../../assets/healthy_nut_guys_logo_w_title.png">
           </div>
         </div>
          <div class="feature-row-item" id="feature-row-item-text">
           <!-- Our Nuts. Your Mouth.-->
           <div class="material-divider">
             <mat-divider></mat-divider>
           </div>
           <h2>Our Nuts. Your Mouth.</h2>
           <div>
             <p>At The Healthy Nut Guys, we wanted to make the tastiest, healthiest nuts on the market. We combined our favorite nuts, fruits and seeds to share with you!</p>
             <p>Our ingredients are 100% organic & only sourced from the best quality suppliers to provide you with the best trail mix on the market today!</p>
             <p>You can choose from our favorite Nut Sacks (Energy, Keto, Succulent) or create your own Nut Sack mix with our Custom Nut Sack!</p>
           </div>
         </div>
       </div>

       <div class="feature-row" [ngClass]="routeAnimationsElements">
         <!-- Nut text -->
         <div class="feature-row-item get-your-nut-on-truck" id="feature-row-item-text">
           <div class="material-divider">
             <mat-divider></mat-divider>
           </div>
           <h2>Keep 'em Coming</h2>
           <p>We understand that you don't always have time to focus on getting your nut. Let us do it for you!</p>
           <p>Our recurring delivery plans are here to make your life easier. Just tell us how often you'd like our Nut Sacks and we will make sure to keep you satisfied!</p>
           <p id="keep-em-coming-last">You can change your mix each time or keep it the same. Either way, we'll keep 'em coming!</p>
         </div>
         <!-- Truck image -->         
         <div class="feature-row-item">
           <div  class="feature-row-image">
            <img class="feature-row-image-crop" src="../../../../assets/get_your_nut_-_healthy_nut_guys.png">
          </div>
         </div> 
       </div>

       <!-- Variety nuts image -->
       <div class="variety-nuts-image" style="padding-top: 25px !important;">
         <div class="variety-nuts-image-inner">           
         </div>
       </div>

        <div>
          <div class="integrity-container">
            <div class="integrity-container-inner">
              <h2>Integrity In The Nuts</h2>
              <div>
                <p>We believe that if you trust us enough to put our nuts in your mouth, then we need to deliver the best tasting nuts you've ever had. That is why when choosing suppliers, The Healthy Nut Guys decided to only source the best quality, organic nuts, fruits and seeds on the market. </p>
                <p>Check out our three pre-made recipes by clicking on them below. Or you can create your own personalized, great tasting blend, with our Custom Nut Sack!</p>
              </div>
            </div>
          </div>
        </div>
</div>

