<div class="wrapper">  
  <div class="shipping-method">
    <h3>Shipping method</h3>
    <div class="shipping-method-selection">
      <mat-radio-group aria-label="Select an option">
        <div>
        <mat-radio-button checked="true" value="1">Standard</mat-radio-button>        
          <span id="shipping-days">3-5 business days</span>
        </div>
      </mat-radio-group>
      <div class="shipping-cost">
        <span>
          $4.99
        </span>
      </div>
    </div>
  </div>
</div>