.wrapper {
  .summary-info {
    padding: 0 6px 0 6px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;

    .mat-divider {
      border-top-color: rgba(0, 0, 0, 0.12);
      border-top-width: 1px;
    }

    .info {
      padding: 8px;
      .title {
        color: #737373;
      }

      .edit {
        display: flex;
        justify-content: space-between;

        #edit-icon {
          font-size: 18px;
          padding: 5px;
          cursor: pointer;
        }
      }

      .address-summary {
        padding-right: 12px;
        address {
          margin-bottom: 0;
        }
      }
    }
  }
}
