<div class="wrapper">
  <div class="dashboard">
    <div class="next-delivery">
      <mat-form-field appearance="fill">
        <mat-label>Next Delivery</mat-label>
        <input matInput value="3/14/2020">
      </mat-form-field>
    </div>
    <div class="subscription-product">
      <h3>Subscription Product</h3>
    </div>
    <div class="payment">
      <mat-form-field appearance="fill">
        <mat-label>Payment Method</mat-label>
        <input matInput value="American Express">
      </mat-form-field>
    </div>
    <div class="subscription">
      <mat-form-field appearance="fill">
        <mat-label>Cancel Subscription</mat-label>
        <input matInput value="Active">
      </mat-form-field>
    </div>
  </div>
</div>