.wrapper {
  padding: 8px;
  .dashboard {
    padding: 6px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    text-align: center;
    .next-delivery {
      text-align: center;
    }
    .subscription-product {
    }
  }
}
