.wrapper {
  .custom-sack {
    #pointer {
      cursor: pointer;
    }
    mat-tree {
      background: #fafafa;
    }
    .sack-size-selection {
      display: flex;
      justify-content: space-evenly;
      .mat-form-field {
        width: 40%;
      }
      .spacer {
        margin: 6px;
      }
    }
    .node-collection {
      width: 80%;
      display: flex;
      justify-content: space-between;
      .node-item {
        align-self: center;

        .update-mix {
          cursor: pointer;
        }
      }
      .align-center {
        text-align: center;
      }
      ::ng-deep .mat-form-field-label-wrapper {
        text-align: right;
      }
      .mat-form-field {
        width: 80px;
      }
    }
  }
}
