<div class="wrapper">
  <div class="password-reset-form" [ngClass]="routeAnimationsElements">
    <form novalidate>
      <div class="form-controls">
        <mat-form-field appearance="standard" [ngClass]="routeAnimationsElements">
          <mat-label>E-mail</mat-label>
          <input [formControl]="email" matInput>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>

        <div class="action-buttons" [ngClass]="routeAnimationsElements">
          <button color="warn" (click)="onSubmit()" mat-raised-button type="button" [disabled]="!email.valid">Send</button>
          <button [routerLink]="['../login']" mat-raised-button type="button">Login</button>          
          <button [routerLink]="['../sign-up']" mat-raised-button type="button">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>