@import '../../../../../../../styles-variables.scss';

.spacer-top {
  background: white;
  height: 1em;
}

mat-expansion-panel-header {
  background: #fafafa !important;
}

#expansion-panel {
  background-color: #fafafa;
  border-radius: 0;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;

  .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .mat-divider {
    border-top-color: rgba(0, 0, 0, 0.12);
    border-top-width: 1px;
  }

  .summary-content {
    display: flex;
    margin-bottom: 1em;

    .thumbnail-product {
      display: inline-block;
      border-radius: 8px;
      width: 4.5em;
      height: 5.5em;
      background: white;
      border: 1px solid #e6e6e6;
      img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-height: 65px;
        max-width: 65px;
        padding: 6px 0;
      }
    }

    .spacer {
      margin: 0 8px;
    }
    .thumbnail-info {
      //padding: 12px 0;
      align-self: center;
    }

    .thumbnail-total {
      align-self: center;
      margin-left: auto;
    }
  }

  .discount {
    display: flex;
    flex-direction: row;
    align-items: center;

    div {
      flex-grow: 1;
      mat-form-field {
        width: 100%;
      }
    }

    #discount-code {
      margin-top: 18.813px;
    }

    .discount-button {
      display: inline-block;
      text-align: right;
      flex-grow: 0;
      button {
        height: 52px;
        margin-left: 10px;
        margin-right: 0;
      }
    }
  }

  .meta-total {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;

    .subtotal {
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
    }

    .shipping {
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
    }

    .taxes {
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
    }
  }
  .total {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;

    #totalLabel {
      font-size: larger;
    }

    #totalCost {
      font-size: x-large;
      font-weight: 600;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  #expansion-panel {
    height: 100%;
    border-top: none;
    margin-top: 0;
    margin-bottom: 0;
    .mat-expansion-panel-header-description {
      justify-content: flex-end;
    }
  }
}
