@import '../../../../../styles-variables.scss';

.wrapper {
  padding: 0 16px;

  .sack-details {
    display: flex;
    flex-direction: column-reverse;
    .product-details {
      order: 0;
    }
  }

  .select-options {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
  }

  mat-card {
    max-width: 400px;
    background-color: #fafafa;
    box-shadow: none !important;

    mat-card-title {
      text-align: center;
    }

    mat-card-subtitle {
      text-align: center !important;
    }

    p {
      text-align: center;
    }
  }

  .action-btns {
    margin: 0 auto 1.75em;
  }
  .add-to-card {
    display: flex;
    justify-content: center;

    button {
      width: 50%;
    }
  }

  .item-info {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    max-width: 450px;
    margin: 0 auto;
    div p {
      text-align: center;
    }
  }
  .nutrition-facts {
    display: flex;
    justify-content: center;
    flex-flow: column;

    #nutitrion-label {
      width: 100%;
    }
  }
}

@media (min-width: 414px) {
  .wrapper {
    mat-card {
      margin: 0 auto;
    }

    .nutrition-facts div {
      max-width: 450px;
    }

    mat-card img {
      max-width: 350px;
      max-height: 500px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .nutrition-facts {
      align-items: center;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .wrapper {
    .sack-details {
      display: flex;
      justify-content: center;
      flex-direction: inherit;
      max-width: 950px;
      margin: 0 auto;

      .spacer {
        order: 1;
        margin: 1.5em;
      }

      .product-content {
        width: 50%;
        order: 0;
      }

      .product-details {
        order: 2;
        width: 50%;
        padding: 0 16px;
        .item-info {
          margin-top: 0;
        }
      }
    }
  }
}
