<div class="wrapper">
  <mat-card>
    <img mat-card-image [src]="itemDetails?.imageSrc" [alt]=itemDetails?.description>
    <mat-card-subtitle rtl>{{ itemDetails?.subtitle }}</mat-card-subtitle>
    <mat-card-title>
      {{ itemDetails?.name }}
    </mat-card-title>

    <thng-view-price [itemSale]="itemSale"></thng-view-price>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
  <div class="sack-details">
    <div class="product-details">
      <div class="nutrition-facts">
        <h4>Nutrition Facts:</h4>
        <div>
          <img id="nutitrion-label" [src]="itemDetails?.labelSrc" [alt]="'Nutrion facts for ' + itemDetails?.name">
        </div>
      </div>
    </div>
    <div class="spacer">

    </div>
    <div class="product-content">


      <div class="item-info">
        <div>
          <p>{{itemDetails?.description}}</p>
        </div>
      </div>
    <div class="select-options">
      <ng-container [formGroup]="productForm">
      <mat-form-field appearance="outline">
        <mat-label>Sizes</mat-label>
        <mat-select (selectionChange)="onWeightSelectionChange($event)" formControlName="selectedWeight">
          <mat-option *ngFor="let productDetails of viewProductDetails" [value]="productDetails?.selectOption.option">
            {{productDetails?.selectOption.option}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </ng-container>
      </div>
      <div class="action-btns">
        <div class="add-to-card">
          <button mat-raised-button color="primary" (click)="onAddToCart()"
            [disabled]="!itemDetails?.isInStock">{{ itemDetails?.isInStock ? 'Add To Cart' : 'Sold Out' }}</button>
        </div>
      </div>
    </div>
  </div>


</div>