$thng-black-primary: mat-palette($mat-grey, 700, 300, 900);
$thng-black-accent: mat-palette($mat-blue-grey, 400);
$thng-black-warn: mat-palette($mat-red, 500);

$thng-black-theme: mat-dark-theme(
  $thng-black-primary,
  $thng-black-accent,
  $thng-black-warn
);
