$thng-primary: mat-palette($mat-indigo, 800, 300, 900);
$thng-accent: mat-palette($mat-light-blue);
$thng-warn: mat-palette($mat-pink, 600);

$thng-theme: mat-light-theme($thng-primary, $thng-accent, $thng-warn);
