$thng-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$thng-nature-accent: mat-palette($mat-deep-purple, 300);
$thng-nature-warn: mat-palette($mat-red, 600);

$thng-nature-theme: mat-light-theme(
  $thng-nature-primary,
  $thng-nature-accent,
  $thng-nature-warn
);
