<mat-accordion>    
  <mat-expansion-panel [disabled]="isLargeScreen" [expanded]="isLargeScreen" class="mat-elevation-z0" id="expansion-panel" (opened)="onPanelStateChange()"
                       (closed)="onPanelStateChange()">
    
    <mat-expansion-panel-header id="expansion-panel-header">
      <ng-container *ngIf="!isLargeScreen">
      <mat-panel-title>
        <mat-icon>shopping_cart</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenState ? 'Hide' : 'Show' }} order summary    
        <span><strong>$183.43</strong></span>
      </mat-panel-description>
       </ng-container>
    </mat-expansion-panel-header>
   
    <!-- Content goes here-->

    <div class="content-wrapper">
    <!--Individual items go here-->
    <ng-container>
    <div class="summary-content">

    <div class="thumbnail-product" matBadge="3" matBadgeColor="accent">
      <img src="../../../../../assets/energy_nut_sack.png" alt="Energy Sack">
    </div>
    <div class="spacer">

    </div>
    <div class="thumbnail-info">
      <h3>Nut Sack</h3>
      <p>Hard</p>
    </div>
    <div class="thumbnail-total">
      <span><strong>$32.00</strong>        
      </span>
    </div>      
    </div>
    </ng-container>     
    
    <!--Discount codes section-->
    <mat-divider>     
    </mat-divider>
    <div class="discount">
      <div>
      <mat-form-field appearance="outline" id="discount-code">
        <mat-label>Discount Code</mat-label>
        <input matInput>
      </mat-form-field>
      </div>
      
      <div class="discount-button">
      <button mat-raised-button color="primary" [disabled]="true">
        <mat-icon>arrow_forward</mat-icon>
      </button>      
      </div>
    </div>
    <mat-divider>     
    </mat-divider>
    <div class="meta-total">
      <div class="subtotal">
        <span>Subtotal</span>
        <span><strong>$113.43</strong></span>
      </div>
      <div class="shipping">
        <span>Shipping</span>
        <span><small>Calculated at next step</small></span>
      </div>
      <div class="taxes">
        <span>Taxes (estimated)</span>
        <span><strong>$4.32</strong></span>
      </div>
    </div>
    <mat-divider>     
    </mat-divider>
    <div class="total">
      <span id="totalLabel">Total</span>
      <span id="totalCost">$119.49</span>
    </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
