<div class="wrapper">
  <!-- Contact summary -->
  <div>
    <thng-personal-summary-info (changeInfoEvent)="onChangeInfoClicked($event)"></thng-personal-summary-info>
  </div>
  <!-- Ship to summary -->
  <div>
    <thng-shipping-methods></thng-shipping-methods>
  </div>
  <!-- join the sack Squad!-->
  <div class="subscription">
    <thng-join-subscription></thng-join-subscription>
  </div>
  <!-- payment info-->
  <div class="payment-info">
    <h3>Payment</h3>
    <div class="card-info">
      <mat-form-field appearance="outline" required="true">
        <mat-label>Card Number</mat-label>
        <input matInput placeholder="Card Number" required>
        <mat-icon matSuffix>credit_card</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Name On Card</mat-label>
        <input matInput placeholder="Name On Card" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Expiration date (MM/YY)</mat-label>
        <input matInput placeholder="MM/YY" required>
      </mat-form-field>

      <mat-form-field appearance="outline" required="true">
        <mat-label>Security Code</mat-label>
        <input matInput type="number" placeholder="Security Code" required>
      </mat-form-field>
    </div>
    <div class="billing-address">
      <div class="billing">
        <h4>Billing Address</h4>
        <mat-checkbox (change)="onCheckboxChange($event)" [checked]="sameAsShipping">Same as shipping address</mat-checkbox>
      </div>
      <div *ngIf="!sameAsShipping" [@slideInOut]>
        <thng-shipping [title]="billingAddress"></thng-shipping>
      </div>           
    </div>
  </div>

</div>