<div class="wrapper">
  <mat-card>
    <img mat-card-image [src]="itemDetails?.imageSrc" [alt]=itemDetails?.description>
    <mat-card-subtitle rtl>{{ itemDetails?.subtitle }}</mat-card-subtitle>
    <mat-card-title>
      {{ itemDetails?.title }}
    </mat-card-title>

    <p>${{ itemDetails?.price }}</p>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
  <div class="product-content">
    <thng-custom-sack-selector></thng-custom-sack-selector>
    <div class="action-btns">
      <!-- <div class="add-to-card">
        <button mat-raised-button color="primary" (click)="onAddToCart()"
          [disabled]="!itemDetails?.inStock">{{ itemDetails?.inStock ? 'Add To Cart' : 'Sold Out' }}</button>
      </div> -->
    </div>
    <div class="product-details">
      <div class="item-info">
        <div>
          <p>{{itemDetails?.description}}</p>
        </div>
        <div class="nutrition-facts">
          <h4>Nutrition Facts:</h4>
          <img [src]="itemDetails?.labelSrc" [alt]="'Nutrion facts for ' + itemDetails?.title">
        </div>
      </div>
    </div>
  </div>
</div>