<div class="wrapper">
  <mat-card>
    <img mat-card-image [src]="itemDetails?.imageSrc" [alt]=itemDetails?.description>
    <mat-card-subtitle rtl>{{ itemDetails?.subtitle }}</mat-card-subtitle>
    <mat-card-title>
      {{ itemDetails?.name }}
    </mat-card-title>
    <thng-view-price [itemSale]="itemSale"></thng-view-price>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
  <div class="custom-sack-details">
    <div>
    <div class="product-details">
      <div class="item-info">
        <div>
          <p>{{itemDetails?.description}}</p>
        </div>
      </div>
    </div>
    
    <div class="product-content">
      <div class="custom-selector">
        <thng-custom-sack-selector (weightSelectionChange)="onUpdateSelectOption($event)" [customSackForm]="customSackForm" [mixIngredients]="mixIngredients" [selectOptions]="itemDetails?.selectOptions"></thng-custom-sack-selector>
      </div>
      <div class="action-btns">
        <div class="add-to-card">
          <button mat-raised-button color="primary" (click)="onAddToCart()"
            [disabled]="!itemDetails?.isInStock || !customSackForm.valid">{{ itemDetails?.isInStock ? 'Add To Cart' : 'Sold Out' }}</button>
        </div>
      </div>
    </div>    
    </div>
    <div class="spacer"></div>
    <div class="nutrition-facts">
      <thng-custom-sack-nutrition-label></thng-custom-sack-nutrition-label>
    </div>
  </div>
</div>