<div class="wrapper">
  <div class="password-reset-form">
    <form [formGroup]="passwordResetForm" novalidate [ngClass]="routeAnimationsElements">
      <div class="form-controls">
        <mat-form-field appearance="standard" [ngClass]="routeAnimationsElements">
          <mat-label>New Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="passwordResetForm['controls']['password'].invalid">{{ passwordResetForm['controls']['password'].hasError('tooShort') ? 'Password must be at least 8 characters long' : 'Please enter your password' }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" [ngClass]="routeAnimationsElements">
          <mat-label>Confirm Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" [errorStateMatcher]="matcher" matInput required>          
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>          
          <mat-error>Passwords do not match</mat-error>
        </mat-form-field>

        <div class="action-buttons" [ngClass]="routeAnimationsElements">
          <button color="primary" (click)="onSubmit()" mat-raised-button [disabled]="!passwordResetForm.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>