<div class="wrapper">
  <div class="title">
    <h2>Shipping Address</h2>
  </div>
  <div class="shipping-info">
    <div class="fields-container">
      <mat-form-field appearance="outline" floatLabel="true">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" required>
      </mat-form-field>
      <div class="spacer">

      </div>
      <mat-form-field appearance="outline" floatLabel="true">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" required>
      </mat-form-field>
    </div>
    
    <div class="fields-container">
      <div class="exclusive-offers">
        <mat-form-field appearance="outline" floatLabel="true">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" required>
        </mat-form-field>
        <div>
        <mat-checkbox id="checkbox">Keep me up to date on exclusive offers</mat-checkbox>
        </div>
      </div>
      <div class="spacer">
      </div>
      <mat-form-field appearance="outline" floatLabel="true">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone Number">
      </mat-form-field>
    </div>

  <div >
    <mat-form-field class="full-width" appearance="outline" floatLabel="true">
      <mat-label>Address 1</mat-label>
      <input matInput placeholder="Address 1" required>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline" floatLabel="true">
      <mat-label>Address 2(Apt. Unit. Ste, Etc)</mat-label>
      <input matInput placeholder="Address 2(Apt. Unit. Ste, Etc)">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="outline" floatLabel="true">
      <mat-label>City</mat-label>
      <input matInput placeholder="City" required>
    </mat-form-field>
    </div>  
    <div class="fields-container">
     <mat-form-field class="readonly-wrapper" appearance="outline" floatLabel="true">
      <mat-label>Country/Region</mat-label>
      <mat-select class="readonly-block" required>
        <mat-option [value]="'United States'">
        </mat-option>
      </mat-select>
    </mat-form-field> 
    <div class="spacer"></div>
    <mat-form-field appearance="outline" floatLabel="true">
      <mat-label>Zipcode</mat-label>
      <input matInput placeholder="Zipcode" required>
    </mat-form-field>
    <div class="spacer"></div>
    <mat-form-field appearance="outline" floatLabel="true">
      <mat-label>State</mat-label>
      <mat-select required>
        <mat-option [value]="">
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
  </div>

</div>