<div class="wrapper">
  <div class="signup-form" [ngClass]="routeAnimationsElements">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-controls">

        <mat-form-field appearance="standard" [ngClass]="routeAnimationsElements">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput required>
          <mat-icon matSuffix>contacts</mat-icon>
          <mat-error *ngIf="signupForm['controls']['firstName'].invalid">{{ getErrorMessage(signupForm['controls']['firstName']) }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" [ngClass]="routeAnimationsElements">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput required>
          <mat-icon matSuffix>contacts</mat-icon>
          <mat-error *ngIf="signupForm['controls']['lastName'].invalid">{{ getErrorMessage(signupForm['controls']['lastName']) }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" [ngClass]="routeAnimationsElements">
          <mat-label>Phone Number</mat-label>
          <input formControlName="phoneNumber" matInput>
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="standard" [ngClass]="routeAnimationsElements">
          <mat-label>E-mail</mat-label>
          <input formControlName="email" matInput required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="signupForm['controls']['email'].invalid">{{ getErrorMessage(signupForm['controls']['email']) }}</mat-error>
        </mat-form-field>
      <ng-container formGroupName="passwords">
        <mat-form-field appearance="standard" [ngClass]="routeAnimationsElements">
          <mat-label>Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput type="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="signupForm['controls']['passwords']['controls']['password'].hasError('required') || signupForm['controls']['passwords']['controls']['password'].hasError('tooShort')">{{ signupForm['controls']['passwords']['controls']['password'].hasError('tooShort') ? 'Password must be at least 8 characters long' : 'Please enter your password' }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard" [ngClass]="routeAnimationsElements">
          <mat-label>Confirm Password</mat-label>
          <input [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" matInput type="password" [errorStateMatcher]="matcher" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error>Passwords do not match</mat-error>
        </mat-form-field>
        </ng-container>
      </div>
      <div class="action-buttons">
        <button color="accent" mat-raised-button [disabled]="!signupForm.valid">Sign up</button>
        <button mat-raised-button type="button" routerLink="login">Login</button>
      </div>
    </form>
  </div>
</div>