<div class="wrapper">
  <div class="order-summary">
    <thng-order-summary></thng-order-summary>
  </div>
  <div class="checkout-flow">    
    <mat-horizontal-stepper (selectionChange)="onTabSelectionChange($event)" [selectedIndex]="tabIndex" linear="true" #stepper>
      <mat-step>
        <ng-template matStepLabel>Shipping</ng-template>
        <div>
          <thng-express-checkout></thng-express-checkout>
          <div class="container">
            <div class="line">
              <mat-divider></mat-divider>
            </div>
            <div class="text mat-typography">OR</div>
            <div class="line">
              <mat-divider></mat-divider>
            </div>
          </div>
          <thng-personal-info [focusOn]="elementFocus" [title]="shippingAddress" [isBilling]="false"></thng-personal-info>          
        </div>
        <div>
          <button mat-flat-button color="warn" matStepperNext><mat-icon>lock</mat-icon> Continue Checkout</button>
        </div>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Payment</ng-template>
          <thng-express-checkout></thng-express-checkout>
          <thng-payment (updateInfo)="onUpdateInfo($event)"></thng-payment>
        <div class="action-buttons">
          <button mat-flat-button matStepperPrevious color="accent">Back</button>
          <button mat-flat-button matStepperNext color="warn"><mat-icon>lock</mat-icon> Complete Order</button>
        </div>

      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <mat-divider vertical="true"></mat-divider>
</div>

<!-- <ng-template #emailField>
  <mat-form-field style="width: 100%" appearance="outline" floatLabel="true">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" required>
        </mat-form-field>
</ng-template>

<ng-template #emailCheckbox>
  <mat-checkbox id="checkbox">Keep me up to date on exclusive offers</mat-checkbox>
</ng-template> -->