<div class="wrapper">
  <div class="summary-info">
    <div class="info">
      <div class="edit">
        <div class="title">Contact</div>
        <mat-icon id="edit-icon">edit</mat-icon>
      </div>
      <div>
        <bdo dir="ltr"><small>ssrfsa@gmai.com</small></bdo>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="info">
      <div class="edit">
        <div class="title">Ship to</div>
        <mat-icon id="edit-icon">edit</mat-icon>
      </div>
      <div>
        <address>
          <small>
            7216 Covert Avenue, Cleveland OH 44105, United States
          </small>
        </address>
      </div>
    </div>
  </div>
</div>