<div class="wrapper">
  <div class="logo">
    <img src="../../../../assets/healthy_nut_guys_logo_w_title.png" alt="Healthy Nut Guys Logo">
    <mat-divider></mat-divider>
  </div>
  <div class="your-cart">
    <h1 id="your-cart-title">Your Cart</h1>
    <div class="grid-item">      
      <div class="cart-row">
        <div class="grid-item-details">
          <img src="" alt="" >
          <div>
            <h3>Item title</h3>
            <button mat-flat-button>Remove</button>
          </div>
        </div>
        <div>
          <!-- price Quantity Total-->
          
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="grid-item">
      <!-- value value value-->

    </div>
  </div>
</div>